spring:
  mail:
    host: smtp.gmail.com #gmail
    port: 587
    username: tanakorn.devtest
    password: wmns qeay vjyz slki
    properties:
      mail:
        smtp:
          auth: ture
          starttls:
            enable: true
  jpa:
    hibernate:
      ddl-auto: update
  datasource:
    url: jdbc:postgresql://localhost:5432/backend
    username: postgres
    password: syspass
  servlet:
    multipart:
      enabled: true
      max-file-size: 2MB
      max-request-size: 5MB

---
app:
  token:
    secret: "my-super-secret-key-32-chars-minimum!!"
    issuer: "BackendService"
  email:
    from: tanakorn.devtest@gmail.com
